<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./header.ejs'); %>
    <div class="content">
      <div class="detail-container">
        <div class="detail">
          <h1 class="shoe-title"><%= item.name %></h1>
          <div class="shoe-brand-container">
            <p class="shoe-brand-subtitle">Brand:</p>
            <p class="shoe-brand"><%= item.category.name %></p>
          </div>
          <div class="shoe-price-container">
            <p class="shoe-price-subtitle">Price:</p>
            <p class="shoe-price">$<%= item.price %></p>
          </div>
          <% if (item.stock > 0) { %>
          <div class="shoe-stock-container in-stock">
            <p class="shoe-stock-subtitle">Stock:</p>
            <p class="shoe-stock"><%= item.stock %></p>
          </div>
          <% } else { %>
            <div class="shoe-stock-container sold-out">
              <p class="shoe-stock-subtitle">Stock:</p>
              <p class="shoe-stock"><%= item.stock %></p>
            </div>
          <% } %>
          <div class="shoe-link-container">
            <% if (item.stock > 0) { %>
              <form action="/<%= item.url %>/sell" method="POST">
                <button id="sell-shoes">> Sell a Pair</button>
              </form>
            <% } %>
            <a href="/<%= item.url %>/update" id="update-shoes">● Update Shoes</a>
            <a href="/<%= item.url %>/delete" id="delete-shoes">− Delete Shoes</a>
          </div>
        </div>
        <img 
          class="shoe-img" 
          src="https:/<%= process.env.AWS_BUCKET %>.s3.us-east-1.amazonaws.com/<%= item.img %>"
          alt="<%= item.name %>"
        >
      </div>
    </div>
  </body>
</html>
